* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
    display: block;
}

html,
body {
    overflow-x: hidden;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}



